body {
  background-color: snow; /* Háttérszín hófehér */
  font-family: Verdana, sans-serif; /* 14. feladat: Verdana, ha nincs akkor sans-serif */
}

#container {
  max-width: 1280px; /* 13. feladat: a weboldal szélessége 1280 képpont */
  margin: 0 auto; /* 13. feladat: vízszintesen középre igazítva */
}

#tartalom,
header,
footer,
nav,
table {
  padding: 20px;
  margin: 10px;
  border: 1px solid steelblue; /* Keret minden fő elem körül */
}

h1 {
  text-transform: uppercase; /* 15. feladat: h1 címsor nagybetűs */
  color: steelblue;
}

h2 {
  border-bottom: 1px solid steelblue;
  width: 60%;
  padding: 10px;
  color: steelblue;
  font-variant: small-caps; /* 15. feladat: h2 kiskapitális */
}

p {
  text-align: justify; /* 16. feladat: bekezdések sorkizártak */
  text-indent: 30px; /* 16. feladat: első sor behúzása 30px */
  line-height: 150%; /* 16. feladat: sormagasság 150% */
}

img {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid steelblue; /* Kép körül keret */
}

.foto {
  float: right;
  margin: 10px;
  padding: 20px;
  border: 1px solid steelblue; /* Jobbra igazított fotó kerettel */
}

.kepalairas {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  line-height: 0em;
  text-indent: 0px; /* Felirat középre, dőlt betűvel */
}

a {
  color: steelblue;
  text-decoration: underline; /* Alapból aláhúzott hivatkozás */
}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: none; /* 17. feladat: egér fölé húzva ne legyen aláhúzva */
}
